{% extends 'layout.html' %}
{% block content %}
<div class="container">
{% include 'admin/navbar.html' %}
<div class="main" style="margin-left: 61%;position:absolute;margin-top: 32px;">
    <div class="left">
        <form name="addForm" id="addForm" method="POST" action="/admin/addpost" novalidate>
            <div class="container" style="width: 500px;">
                <section class="table__body" >
                <section class="table__header">
                    <h3>New Announcement</h3>
                </section>
                <div class="input-form">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" required>
                </div>
                <div class="input-form">
                    <label for="subtitle">Subtitle</label>
                    <input type="text" name="subtitle" id="subtitle" required>
                </div>
                <div class="input-form">
                    <label for="author">Announced by</label>
                    <input type="text" name="author" id="author" required>
                </div>
                <div class="input-form">
                    <label for="content">Description</label>
                    <textarea name="content" id="content" cols="30" rows="10" required></textarea>
                </div>
                <div class="input-form">
                    <button type="submit" class="btn-success-2" id="sendMessageButton">Share</button>
                </div>
                <div class="input">
                </div>
                </section>
            </div>
        </form>
    </div>
</div>
<div class="main" style="margin-left: 7%;position:absolute;">
    <div class="right">
        <main class="table">
            <section class="table__header">
                <h3>History of Announcements</h3>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Subtitle</th>
                            <th>Announced by</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.subtitle }}</td>
                            <td>{{ post.author }} </td>
                            <td>{{ post.date_posted}}</td>
                            <td>
                                <a href="/blog/post/{{post.id}}">
                                    <button style="color: black;">View</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>
</div>
{% endblock content %}