{% extends 'layout.html' %}
{% block content %}
<div class="container">
{% include 'admin/navbar.html' %}
    <div class="my-2">
        <main class="table">
            <section class="table__header">
                <h3>Information list</h3>
            </section>
            <div>
                <form action="" method="POST">
                    <div>
                        <input type="text" placeholder="Enter branch Code" name="search" id="search">
                        <button type="submit" class="btn-success-3">Search</button>
                    </div>
                </form>
            </div>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>Branch Name</th>
                            <th>Branch Code</th>
                            <th>Employee Name</th>
                            <th>Employee Code</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Accsess Status</th>
                            <th>Change Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.CenterName}}</td>
                            <td>{{user.CenterCode}}</td>
                            <td>{{user.personal}}</td>
                            <td>{{user.personalCode}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                            <td>
                                {% if user.status == 1 %}
                                Approved
                                {% else %}
                                Awaiting approval
                                {% endif %}
                            </td>
                            <td>
                                {% if user.status == 1 %}
                                    <a href="/admin/disapprove-user/{{user.id}}">
                                        <button class="status disApprove">User suspension</button>
                                    </a>
                                {% else %}
                                    <a href="/admin/approve-user/{{user.id}}">
                                        <button class="status approve"> Approve</button>
                                    </a>                              
                                {% endif %}  
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>
{% endblock content %}