{% extends 'layout.html' %}

{% block content %}
    {% include 'admin/navbar.html' %}
    <div class="container">
        <main>
            <section class="table__header">
            <h3 style="color: black;">Edit Requests</h3>
            <h5 style="color: rgb(255, 255, 255);">Please enter the new requested values for each product.</h5>
            </section>
            <form method="POST">
                <section class="table__body" style="background-color: rgba(0, 0, 0, 0.045);">
                {% for request in user_requests %}
                    <div class="input" >
                        <label style="color: black;" for="new_supply_quantity">{{ request.card_type }}</label>
                        <input type="text" class="form-control" id="new_supply_quantity" name="new_supply_quantity" required>
                    </div>
                {% endfor %}

                </section>
                <button type="submit" class="btn-success-2">Save Changes</button>
            </form>
        </main>
    </div>
{% endblock %}
