{% extends 'layout.html' %}

{% block content %}
    {% include 'admin/navbar.html' %}
    <div class="container">
        <main class="table">
            <section class="table__header">
                <h3>Users Requests List</h3>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>Currently, no new requests have been registered</td>

                            </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
{% endblock content %}
