{% extends 'layout.html' %}

{% block content %}
    {% include 'admin/navbar.html' %}
    <div class="container">

        <main class="table">
            <section class="table__header">
                <h3>درخواست‌ها</h3>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>تاریخ درخواست</th>
                            <th>کد شعبه</th>
                            <th>نام شعبه</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in reqUsers %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('admin.manageUserRequests', user_id=user.id) }}"> 
                                    <button>ویرایش</button>
                                    </a>

                                    <a href="{{ url_for('admin.showRequests', user_id=user.id) }}">
                                    <button>مشاهده</button>    
                                    </a>
                                </td>
                                <td>{{ dates }}</td>
                                <td>{{ user.CenterCode }}</td>
                                <td>{{ user.CenterName }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
{% endblock content %}
