{% extends 'layout.html' %}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}

        <main class="table">
            <section class="table__header">
                <h3>Users Requests List</h3>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>

                            <th>Branch Name</th>
                            <th>Branch Code</th>
                            <th>Date of Request</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in reqUsers %}
                            <tr>
                                <td>{{ user.CenterName }}</td>
                                <td>{{ user.CenterCode }}</td>
                                <td>{{ dates }}</td>
                                <td>
                                    {% if status == 1 %}
                                    <div class="takhsis"> Allocated</div>
                                    {% else %}
                                    <div class="entezar"> Waiting...</div>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.showRequests', user_id=user.id) }}">
                                    <button>View</button>    
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
{% endblock content %}
