<nav>
        <div class="left-nav">
            <div class="logo-nav">
                <img class="logo-nav" src="/static/icon/Logo.png" alt="">
            </div>
        </div>
        <ul>
            <li><a class="active" href="/admin/admin-dashboard">Dashboard</a></li>
            <li><a href="/admin/get-all-user">Branches</a></li>
            <li><a href="/admin/recieve">Treasury</a></li>
            <li><a href="/admin/manageRequests">Requests</a></li>
            <li><a href="/admin/add_CardToUser">Allocation</a></li>
            <li><a href="/admin/add">Announce</a></li>
            <li><a href="/admin/change-admin-password">Pass-Change</a></li>
            <li><a class="exit" href="/admin/logout">Logout</a></li>
        </ul>
</nav>