<nav>
        <div class="left-nav">
            <div class="logo-nav">
                <img class="logo-nav" src="/static/icon/Logo.png" alt="">
            </div>
        </div>
        <ul>
            <li><a class="exit" href="/admin/logout">خروج</a></li>
            <li><a href="/admin/change-admin-password">تغییر رمز</a></li>
            <li><a href="/admin/add">ابلاغ</a></li>
            <li><a href="/admin/manageRequests">درخواست‌ها</a></li>
            <li><a href="/admin/addCardToUser">حواله</a></li>
            <li><a href="/admin/recieve">خزانه</a></li>
            <li><a href="/admin/get-all-user">کاربران</a></li>
            <li><a class="active" href="/admin/admin-dashboard">نخست</a></li>
        </ul>

</nav>
