{% extends "layout.html"%}

{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}
    {% for info in infos %}
        <div class="card-en">
            <form class="dash" action="/user/dashboard" method="post"> 
                <label for="usercode">
                        <div class="credit-container">
                            <header>
                                <span class="credit-logo">
                                    <img src="/static/icon/Logo.png" alt="" />
                                </span>
                                <img src="/static/icon/chip.png" alt="" class="chip" />
                            </header>
                            <div class="bank-name">
                                <h5>{{info.cardType}}</h5>
                            </div>
                            <div class="credit-details">
                                <div class="name-number">
                                    <h6> Balance</h6>
                                    <h6 class="number">{{info.supply}}</h6>
                                </div>
                                <div class="valid-date">
                                    <h6>Last Received</h6>
                                    <h6>{{info.date_add}}</h6>
                                </div>
                            </div>
                        </div>
                </label>
            </form>
        </div>
        </body>
    {% endfor %}
</div>
{% endblock content %}
