<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه اقلام مصرفی بانکداری الکترونیک  </title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="my-2">
        <form method="POST" action="">
            <main class="table">

                    <section class="table__header">
                        <h3>اعلام موجودی اولیه</h3>
                    </section>
                <section class="table__body" style="width: 650px;">
                <table>
                    <thead>
                        <tr>
                            <th>تعداد</th>
                            <th>انتخاب کالا</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            <div>
                            {% for type in types %}
                            <tr>
                                <td>
                                    <input type="text" name="cSupply" id="cSupply" style="width: 175px;">
                                </td>
                                <td>
                                    <label style="color: black;">
                                        {{type.typeOfCards}}
                                        <input type="checkbox" value="{{type.typeOfCards}}" name="cType" id="cType" style="width: fit-content;">
                                    </label> 
                                </td>
                            </tr>
                            {% endfor %}
                            </div>
                        </div>
                    </tbody>
                </table>  
            </section>
            <button class="btn-success-2">تکمیل ثبت نام</button>      
            </main>
        </form>
    </div>
</div>
</body>
</html>