{% extends "layout.html"%}

{% block content %}

<div class="container">
        <div class="login-f">
            
            <div class="login">
                <img class="user" src="/static/icon/user.png" alt="">
                <h1 class="text-center my-3">
                    Branch Login
                </h1>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                            <label for=""><b>Username</b></label>
                            </div>
                            <input type="text" name="username" id="username" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for=""><b>Password </b></label>
                            </div>
                            <input type="password" name="password" id="password" class="form-control my-1">
                        </div>
                        <div class="reg"> Not registered yet?<a href="/user/signup"
                                class="text-center nav-link">Signing Up! </a></div>
                        <button class="btn-success-user">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
