{% extends "layout.html"%}

{% block content %}
<div class="container">
        <div class="login-f">
            <div class="login">
                <h1>
                   Sub-Branch SignUp
                </h1>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                            <label for=""><b>Branch Name</b></label>
                            </div>
                            <input type="text" name="CenterName" id="CenterName" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="CenterCode"><b>Branche Code</b></label>
                            </div>
                            <input type="text" id="CenterCode" name="CenterCode">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="personal"><b>Employee Name</b></label>
                            </div>
                            <input type="text" placeholder="System operator in the mentioned branch" id="personal" name="personal">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="personalCode"><b>Employee Code</b></label>
                            </div>
                            <input type="text" id="personalCode" name="personalCode">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="username"><b>Username</b></label>
                            </div>
                            <input type="text" placeholder="Used to enter the system" name="username" id="username" class="form-control my-1">
                        </div>

                        <div class="input">
                            <div class="label">
                            <label for="password"><b>Password</b></label>
                            </div>
                            <input type="password" placeholder="Password must contain at least 6 characters" name="password" id="password" class="form-control my-1">

                        </div>
                        <button class="btn-success">Next Form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
