{% extends "layout.html"%}

{% block content %}
<div class="container">
        <div class="login-f">
            <div class="login">
                <h1>
                    ثبت نام کاربران
                </h1>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                            <label for=""><b>نام شعبه</b></label>
                            </div>
                            <input type="text" name="CenterName" id="CenterName" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="CenterCode"><b>کد شعبه</b></label>
                            </div>
                            <input type="text" id="CenterCode" name="CenterCode">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="personal"><b>نام مسئول</b></label>
                            </div>
                            <input type="text" id="personal" name="personal">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="personalCode"><b>کد پرسنلی</b></label>
                            </div>
                            <input type="text" id="personalCode" name="personalCode">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for="username"><b>نام کاربری</b></label>
                            </div>
                            <input type="text" name="username" id="username" class="form-control my-1">
                        </div>

                        <div class="input">
                            <div class="label">
                            <label for="password"><b>رمز عبور</b></label>
                            </div>
                            <input type="password" name="password" id="password" class="form-control my-1">
                        </div>
                        <button class="btn-success">فرم بعدی</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
