{% extends "layout.html"%}

{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}

    <div class="login-f">
        <div class="login">

                <div class="card-body">
                    <h3 class="text-center my-3">
                        بروزرسانی اطلاعات شعبه
                    </h3>
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>نام شعبه</b></label>
                            </div>
                            <input type="text" value="{{users.CenterName}}" name="CenterName" id="CenterName"
                                class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>کد شعبه</b></label>
                            </div>
                            <input type="text" value="{{users.CenterCode}}" name="CenterCode" id="CenterCode"
                                class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>نام مسئول</b></label>
                            </div>
                            <input type="text" value="{{users.personal}}" name="personal" id="personal"
                                class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>کد پرسنلی</b></label>
                            </div>
                            <input type="text" value="{{users.personalCode}}" name="personalCode" id="personalCode"
                                class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>نام کاربری</b></label>
                            </div>
                            <input type="text" value="{{users.username}}" name="username" id="username"
                                class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>رمز عبور </b></label>
                            </div>
                            <input type="text" value="{{users.password}}" name="password" id="password" class="form-control my-1">
                        </div>
                        <button class="btn-success">اعمال تغییرات</button>
                    </form>

                </div>

        </div>
    </div>
</div>
{% endblock content %}










