{% extends "layout.html"%}
{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}
    <div class="my-2">
         <form method="POST" action="/user/updateSupply">
            <main class="table">
                <section class="table__header">
                    <h3>اعلام موجودی فعلی</h3>
                </section>
                
                <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>تعداد</th>
                            <th>انتخاب کالا</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            <div>
                            {% for type in types %}
                            <tr>
                                <td>
                                    <input type="text" name="cSupply" id="cSupply" style="width: 175px;">
                                </td>
                                <td>
                                    <label style="color: black;">
                                        {{type.typeOfCards}}
                                        <input type="checkbox" value="{{type.typeOfCards}}" name="cType" id="cType" style="width: fit-content;">
                                    </label> 
                                </td>
                            </tr>
                            {% endfor %}
                            </div>
                        </div>
                    </tbody>
                </table>  
            </section>



            <button class="btn-success-2">بروزرسانی</button>  
            
        </main>
    
        </form>
        <h6 style="color: rgb(66, 66, 66);font-size:smaller">توجه: بروزرسانی فقط بر موجودی کالاهای انتخابی شما لحاظ میشود</h6>
    </div>
</div>
{% endblock content %}