{% extends 'admin/layout.html' %}
{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <div class="login-f">
        {% if session.admin_id %}
        {% endif %}
        <main class="table" style="width: fit-content;">
             <form action="" method="POST">
                <section class="table__header" style="width: fit-content;">
                    <h3>تخصیص کارت به شعبه </h3>
                    </section>
                <section style="width: fit-content;">
                    <table>
                        <thead>
                            <fieldset>
                                <tr>
                                <th>
                                <select name="CenterCode" id="CenterCode">
                                    <option value="" disabled selected>شعبه را انتخاب کنید</option>
                                    {% for user in users %}
                                    <option value="{{user.CenterCode}}" >
                                    {{user.CenterCode}} - {{user.CenterName}}
                                    </option>
                                    {% endfor %}
                                </select>
                                </th>
                                </tr>
                                <tr>
                                <th>
                                <select name="typeOfCards" id="typeOfCards">
                                    <option value="" disabled selected>نوع کارت را انتخاب کنید</option>
                                    {% for type in types %}
                                    <option value="{{type.typeOfCards}}">
                                    {{type.typeOfCards}}
                                    </option>
                                    {% endfor %}
                                </select>
                                </th>
                                </tr>
                            </fieldset>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" placeholder="تعداد کارت را وارد کنید" name="sendToUser" id="sendToUser">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn-success-2"> تخصیص</button>
                    
                </section>
            </form>
        </main>
    </div>
</div>
{% endblock content %}