{% extends 'admin/layout.html' %}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
</div>
<div class="container">
    <h1 class="text-center my-3">
        تخصیص کارت
    </h1>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

            {% if session.admin_id %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="my-2">
                            <label for=""><b>تخصیص کارت به شعبه </b></label>
                            <input type="text" placeholder="کد شعبه" name="CenterCode" id="CenterCode" class="form-control my-1">
                            <input type="text" placeholder="تعداد کارت " name="sendToUser" id="sendToUser" class="form-control my-1">
                        </div>
                        <button class="btn btn-success"> تخصیص</button>
                    </form>
                </div>
            </div>
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}