{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
{% include 'admin/navbar.html' %}
    <div class="container">
        <section class="table__header">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h3>انتشار اعلامیه جدید </h3>
                </div>
            </div>
        </div>
        </section>
    </div>
<div class="">
    <div class="">
        <div class="dash">
            <div class="input">
                <label for="title">عنوان</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="input">
                <label for="subtitle">موضوع</label>
                <input type="text" name="subtitle" id="subtitle">
            </div>
            <div class="input">
                <label for="">ابلاغ شده از طرف</label>
                <input type="text" name="author" id="author">
            </div>
            <div class="input">
                <label for="">شرح اعلامیه</label>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" id="sendMessageButton">انتشار</button>
        </div>
    </div>
</div>
</div>

{% endblock content %}