{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <div class="my-2">

                        {% for user in users %}
                            {% for info in infos %}
                                {% if info.user_code == user.CenterCode %}
                                    <h3>نام شعبه</h3>
                                    <h4>{{user.CenterName}}</h4>
                                    <h3>شماره شعبه</h3>
                                    <h4>{{info.user_code}}</h4>
                                    <h3>نام کاربری</h3>
                                    <h4>{{info.cardType}}</h4>
                                    <h3>موجودی کارت ها</h3>
                                    <h4>{{info.supply}}</h4>
                                    <h3>اخرین اهدا</h3>
                                    <h4>{{info.date_add}}</h4>
                                {% endif %}
                            {%endfor%}
                        {% endfor %}
    </div>
</div>
{% endblock content %}