{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>نام شعبه</th>
                        <th>شماره شعبه</th>
                        <th>نام کاربری</th>
                        <th>موجودی کارت ها</th>
                        <th>اخرین اهدا</th>
                    </tr>
                </thead>
                {% for user in users %}
                <tbody>
                    {% for info in infos %}
                    <tr>
                        <td>{{user.CenterName}}</td>
                        <td>{{info.user_code}}</td>
                        <td>{{info.cardType}}</td>
                        <td>{{info.supply}}</td>
                        <td>{{info.date_add}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}