{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <div class="row d-flex justify-content-center">
        <div class="login-f">
            <div class="login">
                <div class="card-body">
                    <div class="label">
                    <h2 class="text-center my-3">
                        تغییر رمز عبور مدیریت
                    </h2>
                    </div>
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                                <label class="label" for=""><b>نام کاربری را وارد کنید</b></label>
                            </div>
                            <input type="text" name="admin_user" id="admin_user" class="form-control my-1"
                                value="{{admin.admin_user}}">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label class="label" for=""><b>رمز عبور جدید را وارد کنید</b></label>
                            </div>
                            <input type="password" name="admin_pass" id="admin_pass" class="form-control my-1">
                        </div>
                        <button class="btn-success">تغییر رمز عبور</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
