{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <div class="my-2">
        <form action="" method="POST" style="width:100%">
            <div class="d-flex align-items-center">
                <input type="text" placeholder="شماره شعبه را وارد کنید" name="search" id="search" class="form-control my-1 w-50">
                <button type="submit" class="btn btn-success " style="margin-left:10px;">جستجو</button>
            </div>
        </form>
    </div>
    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام شعبه</th>
                        <th>شماره شعبه</th>
                        <th>نام کاربری</th>
                        <th>موجودی کارت ها</th>
                        <th>وضعیت دسترسی </th>
                        <th>تغییر وضعیت</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.CenterName}}</td>
                        <td>{{user.CenterCode}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.usersCard}}</td>
                        <td>
                            {% if user.status == 1 %}
                            تایید شده
                            {% else %}
                            در انتظار تایید
                            {% endif %}
                        </td>
                        <td>
                            {% if user.status == 1 %}
                                <a href="/admin/disapprove-user/{{user.id}}">
                                    <button class="btn btn-warning">تعلیق کاربر </button>
                                </a>
                      
                            {% else %}
                                <a href="/admin/approve-user/{{user.id}}">
                                    <button class="btn btn-warning"> تایید</button>
                                </a>
                            {% endif %}      
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}