{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
</div>
{% for user in users %}
<form action="/admin/dashboard" method="post"> 
<label for="usercode">
    <body>
        <div class="credit-container">
            <header>
                <span class="credit-logo">
                    <img src="/static/icon/Logo.png" alt="" />
                    <h5>{{user.CenterName}} - {{user.CenterCode}}</h5>
                </span>
                <img src="/static/icon/chip.png" alt="" class="chip" />
            </header>
            <div class="credit-details">
                <div class="name-number">
                    <h6>موجودی</h6>
                    <h5 class="number">{{user.sum_supply}}</h5>
                </div>
                <div class="valid-date">
                    <h6>آخرین تاریخ</h6>
                    <h5>{{user.date_added}}</h5>
                </div>
            </div>
        </div>
    </body>
</label>
{% endfor %}
{% endblock content %}