{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <div class="my-2">
            <div>
                {% for user in users %}
                    <p>{{user.CenterName}}</p>
                    <p>{{user.CenterCode}}</p>
                    <p>{{user.sum_supply}}</p>
                    <p>{{user.date_added}}</p>
                {% endfor %}
                <a href="/admin/get-all-details/">
                    <button class="btn btn-success">مشاهده</button>
                </a>
            </div>

    </div>
</div>
{% endblock content %}