{% extends "admin/layout.html"%}
{% block content %}
{% include 'admin/navbar.html' %}
{% for user in users %}
<body>
    <div class="card-en">
        <form class="dash" action="/admin/dashboard" method="post"> 
            <label for="usercode">
                    <button type="submit" value="{{user.CenterCode}}" id="usercode" name="usercode"><div class="credit-container">
                        <header>
                            <span class="credit-logo">
                                <img src="/static/icon/Logo.png" alt="" />
                            </span>
                            <img src="/static/icon/chip.png" alt="" class="chip" />
                        </header>
                        <div class="bank-name">
                            <h5>{{user.CenterName}} - {{user.CenterCode}}</h5>
                        </div>
                        <div class="credit-details">
                            <div class="name-number">
                                <h6>موجودی</h6>
                                <h6 class="number">{{user.sum_supply}}</h6>
                            </div>
                            <div class="valid-date">
                                <h6>آخرین حواله</h6>
                                <h6>{{user.date_added}}</h6>
                            </div>
                        </div>
                    </div>
                </button>
            </label>
        </form>
    </div>
    </body>
{% endfor %}
{% endblock content %}