<div class="navbar">
    <div class="right-nav-admin">
        <div class="icon-navbar">
            <a href="/admin/logout" class="nav-link"><img class="icon-nav" src="/static/icon/logout.png" alt="Logout"><p>خروج</p></a>
        </div>
        <div class="icon-nav">
            <a href="/admin/add" class="nav-link"><img class="icon-nav" src="/static/icon/send-card.png" alt="add post"><div class="nav-text"><p>انتشار اعلامیه</p></div></a>
        </div>
        <div class="icon-nav">
            <a href="/admin/allPosts" class="nav-link"><img class="icon-nav" src="/static/icon/send-card.png" alt="allPosts"><div class="nav-text"><p>مشاهده اعلامیه ها</p></div></a>
        </div>
        <div class="icon-nav">
            <a href="/admin/change-admin-password" class="nav-link"><img class="icon-nav" src="/static/icon/password.png" alt="Change password"><div class="nav-text"><p>تغییررمز</p></div></a>
        </div>

        <div class="icon-nav">
            <a href="/admin/addCardToUser" class="nav-link"><img class="icon-nav" src="/static/icon/send-card.png" alt="send card"><div class="nav-text"><p>حواله</p></div></a>
        </div>
        <div class="icon-nav">
            <a href="/admin/recieve" class="nav-link"><img class="icon-nav" src="/static/icon/send-card.png" alt="recieve"><div class="nav-text"><p>رسید</p></div></a>
        </div>
        <div class="icon-nav">
            <a href="/admin/get-all-user" class="btn btn-info w-full"><img class="icon-nav" src="/static/icon/user.png" alt="Update data"><p>کاربران</p></a>
        </div>
        
        <div class="icon-nav">
            <a href="/admin/dashboard" class="btn btn-info w-full"><img class="icon-nav" src="/static/icon/home.png" alt="Home"><div class="nav-text"></div><p>میزکار</p></a>
        </div>
    </div>
    <div class="center-nav">
        <div class="user-nav">
            {% if session.admin_name %}

            {% endif %}
        </div>
    </div>
    <div class="left-nav">
        <div class="logo-nav">
            <img class="logo-nav" src="/static/icon/Logo.png" alt="">
        </div>
    </div>
</div>