<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اعلامیه شماره {{post.id}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body dir="rtl">
  <div class="container">
    <div class="logo-nav">
      <a href="/">
      <img class="logo-nav" src="/static/icon/Logo.png" alt="" style="align-items: center;">
      </a>
  </div>
  </div>
  <div class="container">
    <div class="post-heading">
        <h1>{{ post.title }}</h1>
        <h2 class="subheading">{{ post.subtitle }}</h2>
        <span class="meta">منتشر شده توسط
          {{ post.author }}
          در {{ post.date_posted}}</span>
      </div>
  </div>
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              {{ post.content|safe }}
            </div>
          </div>
        </div>
      </article>
  </div>
</body>