{% extends 'admin/layout.html' %}
{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
            {% if session.admin_id %}
            {% endif %}
    <div class="main">
        <div class="left">
        <main class="table">
            <section class="table__header">
                <h3> لیست خزانه </h3>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>اخرین رسید </th>
                            <th>موجودی</th>
                            <th>نوع کارت </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in _recieve %}
                        <tr>
                            <td>{{rec.recieve_date}} </td>    
                            <td>{{rec.admin_supply}} </td>
                            <td>{{rec._type}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
        </div>

        <div class="right" style="margin-top: 20px;">
        <div class="table">
            <div class="table__body" style="box-shadow: 0 .4rem .8rem #0005;overflow: hidden;">
                <div class="table__header" style="text-align: center;">
                    <h3 style="margin-right: 30px;">رسید</h3>
                </div>
            <form action="" method="POST">
                <div>
                    <select name="typeOfCards" id="typeOfCards">
                        <option value="" disabled selected>نوع کارت را انتخاب کنید</option>
                        {% for type in types %}
                        <option value="{{type.typeOfCards}}">
                            {{type.typeOfCards}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-form">
                    <input type="text" placeholder="تعداد کارت " name="adminRecieve" id="adminRecieve" style="border-radius: 5px; width:70% ;border: solid 1px rgb(125, 124, 124);">
                    <button class="btn-success-2">افزودن</button>
                </div>
            </form>
            <div class="input">
            </div>
            </div>
        </div>
        </div>

        
        <div class="right" style="margin-top: 60px;">
            <div class="table">
                <div class="table__body" style="box-shadow: 0 .4rem .8rem #0005;overflow: hidden;">
                    <div class="table__header" style="text-align: center;">
                        <h3>مجموع خزانه</h3>
                    </div>
                    <div> 
                        <h1 style="color: black;"> {{sum_4}} </h1>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock content %}