{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
{% include 'admin/navbar.html' %}

                  

<div class="main" style="margin-left: 52%;position:absolute;">
    <div class="left">
        <main class="table">
            <section class="table__header">
                <h3>انتشار ابلاغیه جدید </h3>
            </section>
            <section class="table__body">

            <form name="addForm" id="addForm" method="POST" action="/blog/addpost" novalidate>
            <div class="input">
                <label for="title">عنوان</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="input">
                <label for="subtitle">موضوع</label>
                <input type="text" name="subtitle" id="subtitle">
            </div>
            <div class="input">
                <label for="author">ابلاغ شده از طرف</label>
                <input type="text" name="author" id="author">
            </div>
            <div class="input">
                <label for="content">شرح اعلامیه</label>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" id="sendMessageButton">انتشار</button>
            </form>
            </section>
        </main>
    </div>
</div>

<div class="main" style="margin-left: 7%;position:absolute;">
    <div class="right">
        <main class="table">
            <section class="table__header">
                <h3> ابلاغ شده ها </h3>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>تاریخ</th>
                            <th>ابلاغ توسط</th>
                            <th>موضوع</th>
                            <th>عنوان</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}

                        <tr>
                                <td>
                                <a href="/blog/post/{{post.id}}">
                                    <button style="color: black;">مشاهده</button>
                                </a>
                                </td>
                                <td>{{ post.date_posted}}</td>
                                <td>{{ post.author }} </td>
                                <td>{{ post.subtitle }}</td>
                                <td>{{ post.title }}</td>


                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>
</div>
{% endblock content %}