{% extends 'layout.html' %}
{% block content %}
<nav>
    <ul>

        <li><a class="active" href="/user/dashboard">Dashboard</a></li>
        <li><a href="/user/updateSupply">Update Inventory</a></li>
        <li><a href="/user/userRequest">Request</a></li>
        <li><a href="/blog/allPosts">Announcements</a></li>
        <li><a href="/user/update-profile">Profile</a></li>
        <li><a class="exit" href="/user/logout">Logout</a></li>
    </ul>

    <div class="left-nav">
        <div class="logo-nav">
            <img class="logo-nav" src="/static/icon/Logo.png" alt="">
        </div>

    </div>
</nav>
<div class="main" style="align-items: center;">
    <div class="right">
        <main class="table">
            <div class="container">
            <section class="table__header" >
                <h3>History of Announcements</h3>
            </section>
            </div>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Subtitle</th>
                            <th>Announced by</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.subtitle }}</td>
                            <td>{{ post.author }} </td>
                            <td>{{ post.date_posted}}</td>
                            <td>
                                <a href="/blog/post/{{post.id}}">
                                    <button style="color: black;">مشاهده</button>
                                </a>
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>

{% endblock content %}