{% extends 'layout.html' %}
{% block content %}
<nav>
    <ul>
        <li><a class="exit" href="/user/logout">خروج</a></li>
        <li><a href="/user/update-profile">ویرایش</a></li>
        <li><a href="/blog/allPosts">ابلاغیه</a></li>
        <li><a href="/user/userRequest">درخواست</a></li>
        <li><a href="/user/updateSupply">اعلام</a></li>
        <li><a class="active" href="/user/dashboard">نخست</a></li>
    </ul>

    <div class="left-nav">
        <div class="logo-nav">
            <img class="logo-nav" src="/static/icon/Logo.png" alt="">
        </div>

    </div>
</nav>
<div class="main" style="align-items: center;">
    <div class="right">
        <main class="table">
            <div class="container">
            <section class="table__header" >
                <h3> ابلاغ شده ها </h3>
            </section>
            </div>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>تاریخ</th>
                            <th>ابلاغ توسط</th>
                            <th>موضوع</th>
                            <th>عنوان</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>
                            <a href="/blog/post/{{post.id}}">
                                <button style="color: black;">مشاهده</button>
                            </a>
                            </td>
                            <td>{{ post.date_posted}}</td>
                            <td>{{ post.author }} </td>
                            <td>{{ post.subtitle }}</td>
                            <td>{{ post.title }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>

{% endblock content %}