@font-face {
    font-family: samim;
    src: url(/static/font/Samim-FD.woff2) format(woff2);
}
*{
    font-family: samim;
    margin: 0 auto;
}
body{
    background: radial-gradient(50% 50%, #ffffff -0%, #B2C3AF 71%);
    height: 100%;
    background-attachment: fixed;
}
.container {
    align-items: center;
    text-align: center;
}
.logo{
    margin-top: 20px;
}
.card{
    align-items: center;
    display: flex;
    
}
.card-box{
    background: linear-gradient(180deg, #35ac21 -0%, #15460d 71%);
    border-radius: 3.6rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 22rem;
    width: 22rem;
}
.card-en{
    cursor: pointer;
}
.icon {
    height: 180px;
    width: 180px;
    margin-top: 20px;
    object-fit: contain;
}
a:hover .icon{
    height: 200px;
    width: 200px;
    transition: 0.2s;
}
a:hover .title{
    font-size: larger;
    transition: 0.2s;
}

.title{
    margin-top: 30px;
}
.login-f{
    margin-top: 9%;
}
.login{
    height: 450px;
    width: 400px;
    background: linear-gradient(180deg, #65ca53 -0%, #26701b 71%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.label{
    background: #1a4421;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;

}
.btn-success{
    margin-top: 25px;
    width: 80px;
    height: 40px;
    color: #1d6013;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: large;
}
.btn-success:hover{
    background-color: #15460d;
    color: white;
}
label{
    color: white;
    width: 300px;
}
.input {
    margin-top: 25px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
}
input{
    width: 300px;
    background: white;
    border: none;
    outline: none;
    text-align: center;
    height: 30px;
}
a {
    text-decoration: none;
    color: white;
}
h1{
    color: white;
}
.card{
    margin-top: 40px;
}
.user{
    margin-top: 30px;
    height: 111px;
    width: 111px;
}
.alert{
    top: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 260px;
    background-color: #ff8787;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border:solid 2px red;
    padding: 20px;
}
strong{
    margin-top: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}
.footer{
    background: linear-gradient(146.73deg, #35ac21 19.37%, #15460d 80.63%);
    height: 80px;
    width: 391px;
    border-radius: 15px 15px 0px 0px;
}
h2{
    color: white;
    text-align: center;
    padding-top: 20px;
}
@media only screen and (max-width: 600px){
    .card{
        display: block;
    }
    .card-box{
        height: 10rem;
        width: 10rem;
        margin-top: 10px;
    }
    .icon {
        height: 70px;
        width: 70px;
    }
    .title{
        opacity: 100;
        font-size: 8px;
        margin-top: 5px;
    }
    a:hover .icon{
        height: 60px;
        width: 60px;
        transition: 0.2s;
    }
    a:hover .title{
        opacity: 100;
        transition: 0.2s;
        font-size: 10px;
    }
    .footer{
        height: 40px;
        width: 250px;
    }
    h2{
        padding-top: 10px;
        font-size: 15px;
    }
}