<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه پشتیبانی شعب</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body dir="rtl">
    <div class="container">
        <div class="logo">
            <img style="width: 10%;"
                src="/static/icon/Logo.png"
                alt="logo">
        </div>
    </div>
    <div class="container">
        <div class="card">
            <a href="/user/" class="">
                <a href="/user/signup" class="">
                    <div class="card-box">
                        <div class="card-en">
                                <img class="icon" src="/static/icon/add.png" alt=""><div class="title"><h1>ثبت نام کاربر</h1></div>
                        </div>
                    </div>
                </a>
                <a href="/user/" class="">
                    <div class="card-box">
                        <div class="card-en">
                            <img class="icon" src="/static/icon/admin.png" alt=""><div class="title"><h1>ورود کاربر</h1></div>
                        </div>
                    </div>
                </a>
            <a href="/admin/" class="">
            <div class="card-box">
                <div class="card-en">
                        <img class="icon" src="/static/icon/client.png" alt="admin"><div class="title"><h1>ورود مدیریت</h1></div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <footer>
        <div class="footer">
            <h2>سامانه انتقال کارت بانکی</h2>
        </div>
    </footer>
</body>

</html>
