{% extends 'user/layout.html' %}
{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}
    <main class="table" style="width: 440px; height: 300px;">
        <form action="" method="POST">
            <div class="table__header">
                <h3> اعلام کاهش موجودی</h3>
            </div>
            <div>
                <div>
                            <select name="typeOfCards" id="typeOfCards" class="CenterCode-1">
                                <option value="" disabled selected>نوع کارت را انتخاب کنید</option>
                                {% for type in types %}
                                <option value="{{type.typeOfCards}}">
                                    {{type.typeOfCards}}
                                </option>
                                {% endfor %}
                            </select>
                        </div> 
                    <div class="input">
                    <input type="number" placeholder=" تعداد کارت کاسته شده" name="userDecrease" id="userDecrease" class="form-control my-1">
                    </div>
                    <button class="btn-success-2">کاستن</button>
            </div>
        </form>
    </main>
</div>
{% endblock content %}