{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="login-f">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="login">
                <img class="user" src="/static/icon/user.png" alt="">
                <h1 class="text-center my-3">
                    ورود کاربران
                </h1>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                            <label for=""><b>نام کاربری</b></label>
                            </div>
                            <input type="text" name="username" id="username" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for=""><b>رمز عبور را وارد کنید</b></label>
                            </div>
                            <input type="password" name="password" id="password" class="form-control my-1">
                        </div>
                        <div class="reg">عضو نشده اید؟ <a href="/user/signup"
                                class="text-center nav-link">ثبت نام کنید</a></div>
                        <button class="btn-success-user">ورود</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
