<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}} - سامانه پشتیبانی شعب </title>
    {% else %}
    <title>سامانه پشتیبانی شعب </title>
    {% endif %}

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">

</head>

<body>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}

    <div class="alert alert-{{category}}">
        <p> 
            {{message}}
        </p>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <script src="/static/script/script.js"></script>
    
    {% block content %}
    {% endblock content %}
</body>

</html>
