<div class="navbar">
    <div class="right-nav">
        <div class="icon-navbar">
            <a href="/user/logout" class="nav-link"><img class="icon-nav" src="/static/icon/logout.png" alt="Logout"><p>خروج</p></a>
        </div>
        <div class="icon-nav">
            <a href="/user/change-password" class="nav-link"><img class="icon-nav" src="/static/icon/password.png" alt="Change password"><div class="nav-text"><p>تغییررمز</p></div></a>
        </div>
        <div class="icon-nav">
            <a href="/user/update-profile" class="btn btn-info w-full"><img class="icon-nav" src="/static/icon/client.png" alt="Update data"><p>بروزرسانی</p></a>
        </div>
        <div class="icon-nav">
            <a href="/user/dashboard" class="btn btn-info w-full"><img class="icon-nav" src="/static/icon/home.png" alt="Home"><div class="nav-text"></div><p>میزکار</p></a>
        </div>
    </div>
    <div class="center-nav">
        <div class="user-nav">
            {% if session.get('user_id') %}
            <button class="btn-username"><p> شعبه {{users.CenterName}}</p></button>
            {% endif %}
        </div>
    </div>
    <div class="left-nav">
        <div class="logo-nav">
            <img class="logo-nav" src="/static/icon/Logo.png" alt="">
        </div>
    </div>
</div>
