{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="login-f">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="login">
                <div class="signup-titel">
                <h1>
                    ثبت نام کاربران
                </h1>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="input">
                            <div class="label">
                            <label for=""><b>نام شعبه</b></label>
                            </div>
                            <input type="text" name="CenterName" id="CenterName" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for=""><b>کد شعبه</b></label>
                            </div>
                            <input type="text" name="CenterCode" id="CenterCode" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for=""><b>نام کاربری</b></label>
                            </div>
                            <input type="text" name="username" id="username" class="form-control my-1">
                        </div>
                        <div class="input">
                            <div class="label">
                            <label for=""><b>رمز عبور</b></label>
                            </div>
                            <input type="password" name="password" id="password" class="form-control my-1">
                        </div>
                        <button class="btn-success">ثبت نام</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
